---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: '90'
IndentWidth: '4'
PackConstructorInitializers: NextLineOnly
BreakBeforeBinaryOperators: NonAssignment
DerivePointerAlignment: false
...
